.faq {
  .faq__title {
    h4 {
      max-width: none;
      text-align: center;
    }
    .faq__hr {
      margin: 0 auto 40px;
    }
  }
  &__question {
    max-width: 700px;
    margin: 0 auto;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #443e3e;
  }
}
