.instagram {
  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
  }
  .instagram__item {
    display: flex;
    align-items: center;
    gap: 5px;
    &:hover {
      cursor: pointer;
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: red;
      text-transform: uppercase;
    }
  }
  .instagram__images {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .instagram__mobile {
    display: none;
  }
}
